<div class="center">
  <table>
    <tr>
      <th>Year</th>
      <th>Investment Value</th>
      <th>Interest(Year)</th>
      <th>Total Interest</th>
      <th>Invested Capital</th>
    </tr>
    @for (annual of annualData; track annualData?.length) {
      <tr>
        <td>{{annual.year}}</td>
        <td>$ {{annual.valueEndOfYear | number: '1.2-2'}}</td>
        <td>$ {{annual.interest | number: '1.2-2' }} </td>
        <td>$ {{annual.totalInterest | number: '1.2-2'}}</td>
        <td>$ {{annual.totalAmountInvested | number: '1.2-2'}}</td>
      </tr>

    }
  </table>
</div>

