img {
  width: 6.5rem;
}
h1 {
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }

}